@import "_cssReset.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 24px;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.mb-72 {
    margin-bottom: 72px;
}

img {
    vertical-align: middle;
}

section {
    margin-bottom: 72px;
}

h1 {
    font-size: 80px;
    line-height: 1.2;
    padding: 40px 0px 24px;
    border-bottom: 2px solid #000000;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    border-bottom: 1px solid #000000;
    margin-bottom: 16px;

    span {
        font-weight: normal;
        font-size: 24px;
        margin-left: 16px;
        color: #A00404;
        vertical-align: 12.5%;
    }
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

p {
    margin-bottom: 24px;
}

.photo {
    padding: 48px 0px;
}

.navy {
    text-align: center;
    background: #415165;
    color: #FFFFFF;
    padding: 24px 0px 48px;

    h2 {
        margin-bottom: 32px;
        border-bottom: 1px solid #FFFFFF;

        span {
            color: #FFFFFF;
        }
    }
}

.skill {
    text-align: center;
    padding: 24px 102px 48px;

    ul {
        display: inline-block;
        text-align: left;
        padding-left: 24px;
        border-left: 1px solid #96A9C4;

        li {
            line-height: 1.25;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

.workexp {
    padding: 0px 24px;
    margin-left: 24px;
    border-left: 1px solid #96A9C4;

    li {
        margin-bottom: 32px;
    }

    p {
        font-size: 20px;
    }
}

footer {
    text-align: center;

    a {
        color: #FFFFFF;
        text-decoration: none;

        &:hover {
            text-decoration: underline
        }
    }
}

.contact li {
    margin-bottom: 16px;

    &:nth-child(4) {
        margin-bottom: 20px;
    }

    &:last-child {
        margin-bottom: 0;

        a {
            margin-right: 12px;

            &:hover {
                color: #FFA07F;
            }
        }
    }
}